.logo{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
}
.headerContainer{
    max-width:1920px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
}
header{
    display: flex;
    flex-direction: row;
    background-color: cadetblue;
    ul{
        display: flex;
        flex-direction: row;
        list-style-type: none;
    }
    li{
        padding: 5px;
        margin-right: 10px;
        &:hover{

        }
    }
}
.loginButton{
    height: 50px;
    width:150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 20px;
    margin-left: auto;
    cursor: pointer;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    label{
        display: flex;
        flex-direction: column;
    }
}