.category{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:50%;
    height: 55px;
}
.info{
    display: flex;
    align-items: center;
    gap: 10px;
}
.buttons{
    display: flex;
    grid-gap: 20px;
}