*{
     padding: 0;
     margin: 0;
     text-decoration: none;
     list-style-type: none;
}
button{
     cursor: pointer;
     border: none;
}
.container{
     padding-left: 40px;
     padding-right: 40px;
     max-width:1640px;
     margin: 0 auto;
}
.content{
  position: relative;
}
/* стили для анимации появления/скрытия */
     .alert-enter {
     opacity: 0;
     transform: translateY(-150%);
   }
   .alert-enter-active {
     opacity: 1;
     transform: translateY(0);
     transition: opacity 300ms, transform 300ms;
   }
   .alert-exit {
     opacity: 1;
   }
   .alert-exit-active {
     opacity: 0;
     transform: translateY(150%);
     transition: opacity 300ms, transform 300ms;
   }