.form{
    display: flex;
    flex-direction: column;
    button{
        margin-top: 20px;
    }
}
.label{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 20px;
    position: relative;
}
.button{
    margin-top: 20px;
}
.input{
    height: 25px;
    max-width:100%;
    padding-left: 10px;
}
.formType{
    width: fit-content;
    padding: 5px 10px;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 10px;
    &:hover{
        background-color:rgb(3, 120, 3) ;
        color: #FFFFFF;
        transition: all .5s linear;
    }
}
.error{
    color: rgb(246, 6, 6);
    position: absolute;
    bottom: -18px;
}
.noCategpriesError{
    text-align: center;
    button{
        margin-top: 20px;
    }
}

.editCategoryForm{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    height: 55px;
    input{
        height: 100%;
        padding-left: 10px;
    }
}
.buttons{
    display: flex;
    flex-direction: row;
    grid-gap: 20px;
}
.buttonsFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}